
* {box-sizing: border-box;
  /* border: 1px solid red; */
}

#productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 2rem;
  align-items: stretch;
  gap: 1.5rem;
  text-align: center;
  
}

.item {
  /* position: relative; */
  border-radius: 6px;
  /* box-shadow: 0 0 10px lightgrey; */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); 
}
 .item img {
  width: 100%;
  display: block;
  aspect-ratio: 2/2.3;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
 }

 .item h3 {
    margin: 5px 0;
    font-weight: 500;
 }

 .cardLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px; 
 }

 .cardLayout> i {
  color: darkcyan;
  padding: 5px;
  cursor: pointer;
 }



 .price {
  color: darkslategrey;
 }